# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PPD_P1\Spectacole_Hibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
